<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Metadata Microservice</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="jumbotron">
    <h1>File Metadata Microservice</h1>
    <p>Created by: Wali Gauvin</p>
    <table>
      <tbody>
        <tr>
          <td><a href="https://github.com/Docwali777/File-Metadata-Microservice"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTiZ1E5skmqzIzFtPb6ZqZX3OUw1ifffnubLGauxd7cNXrsGg0mBP6-5K5h" alt=""></a></td>
          <td>GitHub</td>
        </tr>
        <tr>
          <td>  <a href="https://secret-thicket-82923.herokuapp.com/"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT4vxJjN4HYyQo52j2Z-RL-r8MqDIPJGy4HrQS38byzx78GPtpS" alt=""></a></td>
          <td>Heroku</td>
        </tr>
      </tbody>
    </table>
  </div>
